<!DOCTYPE html>
<html>
<head>
	<title>Three.js</title>
	<link rel="stylesheet" href="lib/styles.css">
</head>
<body>
	<nav>
		<img src="../lib/logo.svg" width="100"/>
	</nav>
	<div id="webgl"></div>
	<script src="../lib/Tween.min.js"></script>
	<script src="../lib/perlin.js"></script>
	<script src="../lib/dat.gui.min.js"></script>
	<script src="../lib/three.js"></script>
	<script src="../lib/OBJLoader.js"></script>
	<script src="../lib/OrbitControls.js"></script>
	<script src="../lib/jquery-2.0.0.min.js"></script>
	<script src="../lib/main.js"></script>
</body>
</html>
